{% extends "webbooks/base.html" %}

{% block title %}{{ author.name }}{% endblock %}
{% block heading %}{{ author.name }}{% endblock %}

{% block content %}
<p>Total books: {{ book_count }}</p>

{% for seq,books in grouped_books %}
<p>Sequence: {{ seq }}</p>
    <ol>
{% for book in books %}
    <li>
    <p><a href="{% url 'webbooks:book' book.id %}">{{ book.title }}</a>
    {% if book.date %}({{ book.date }}){% endif %}
    <a href="{{ book.download_url }}">[fb2]</a>
    <a href="{% url "webbooks:read" book.id%}">[Read]</a>
    </li>
{% endfor %}
</ol>
{% endfor %}
{% endblock %}
