{% extends "webbooks/base.html" %}

{% block title %}{{ book.title }}{% endblock %}
{% block heading %}{{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title }}
<a href="{% url "webbooks:read" book.id%}">[Read]</a>
</h1>
<p>
{% for author in authors %}
    <a href="{% url "webbooks:author" author.id %}">{{ author.name }}</a>
    ({{ author.book_count }}){% if not forloop.last %},{% endif %}
{% endfor %}
</p>
<p>Date: {{ book.date }}</p>
<p>Genres:
{% for genre in book.genres.all %}
    {{ genre }}
{% endfor %}
</p>
<p>File: {{ book.file }}</p>

<br>
<p>Annotation</p>
{{ book.annotation|safe }}

<br>
{% include "webbooks/comments.html" %}

{% if user.is_authenticated %}
<form action="{% url "webbooks:comment" book.id %}" method="post">
{% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="hidden" name="userid" value="{{ user.pk }}">
    <label for="text">Comment:</label>
    <br><textarea rows="6" cols="45" id="text" name="text"></textarea>
    <br><input type="submit" value="Send">
</form>
{% else %}
<p>Log in to post comments here.</p>
{% endif %}

{% endblock %}
