:root {
  --light-green: #00AA00;
  --dark-green: #003b00;
  --dark-grey: #777;
  --light-grey: #dadce0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media print{
  body {font-size: 100%;}
  body, table {background-color: #ffffff;}
}

body {
  font-size: 100%;
}
h1 {font-size: 2.5em;}
h2 {font-size: 1.9em;}
p {font-size: 1.2em; margin: 0.8em 0em;}

body, table {color: #000; background-color: #808080;}
tr:hover {background-color: #606060;}
td {empty-cells: show;}
a {
  text-decoration: none;
  color: #357;
}
a:hover {text-decoration: underline;}
img {background-color: #ffffff;}

header {
  width: 100%;
  height: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  padding: 5px 10px;
  align-items: center;
  white-space: nowrap;
}

header p {
  font-size: 1.4em;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header form button {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #444;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

header form button:hover {
  background-color: #2c974b;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 40px;
}

.read {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 40px;
  background-image: url('page.png');
}

.comment {
  margin: 0.2em 0;
  color: #000; background-color: #707070;
}

.comment-head {
  margin: 0.3em 0;
  font-size: 1em;
}

.comment-user {
  color: #008;
}

.comment-time {
  color: #444;
}

.comment-text {
  margin: 0.2em 0;
  font-size: 1em;
}
