{% extends "webbooks/base.html" %}

{% block title %}Authors - Library{% endblock %}
{% block heading %}Authors{% endblock %}

{% block content %}
{% if author_list %}
    <p>{{ author_list.count }} total.</p>
    <ul id="author_list">
    {% for author in author_list %}
        <li>
        <a href="{% url 'webbooks:author' author.id %}">{{ author.name }}</a>
        ({{ author.book_count }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No authors are available.</p>
{% endif %}
{% endblock%}
